{{!-- {{md-parallax image="autootje.jpg"}} --}}
<div class="section">
  <div class="row container">
    <h1>Cultureel volksfeest</h1>
  </div>
</div>
{{md-parallax image="bootjes.jpg"}}
<div class="section">
  <div class="row container">
    <h1>Bladeren doorheen de catalogus</h1>
  </div>
  <div class="row container">
    <ul>
      <li>{{link-to 'Events' 'events'}}</li>
      <li>Plaatsen</li>
      <li>Adressen</li>
      <li>Contactpunten</li>
      <li>Organisatoren</li>
    </ul>
  </div>
</div>
